body {
    margin: 0;
    
}
@font-face {
    font-family: mainFont;
    src: url(Vazirmatn-Regular.woff2);
  
  }
#content{
}
#header {
    background-color: rgb(57,204,203);
    display: flex;
    align-items: center;
    justify-content:  space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1001; 
    padding-left: 15px;
}
.login-btn{
    display: flex;
    align-items: start; 
    margin-left: 10px;
}
.logo {
    width: 110px;
    height: 70px;
    display: flex;
    justify-content: center; 
   /* margin-left: 10px;*/
}
.login-btn-emp {
    font-family: 'mainFont'; 
    background-color: white;
    border-radius: 25px;
    color: rgb(57,204,203); 
    padding: 0px 10px; 
    border: none;
    text-align: center; 
    display: inline-block;
    cursor: pointer; 
   /* margin-left:15px ;*/
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.login-btn-emp:hover {
    transform: scale(1.05); 
}
.login-btn-emr {
    font-family: 'mainFont'; 
    color: white;
    border-radius: 25px;
    background-color: rgb(57,204,203); 
    padding: 0px 10px; 
    border: none;
    text-align: center; 
    display: inline-block;
    cursor: pointer; 
  /*  margin-left:15px ;*/
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.login-btn-emr:hover {
    transform: scale(1.05); 
}
#wrap{
    margin: 10px;
}

#menu-toggle {
    background: none;
    border: none; 
    font-size: 24px; 
    cursor: pointer;
    margin: 10px;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    position: fixed;
    right: -250px;
    top: 60px;
    height: calc(100% - 60px);
    transition: right 0.3s ease;
    z-index: 1000;
}

#sidebar.visible {
    right: 0; 
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    #sidebar {
        display: none; 
        right: -250px; 
        transition: none;
        height: calc(100% - 60px); 
     }
    
     #sidebar.visible {
        display: block; 
        right: -20px;
        transition: right 0.3s ease;
     }
}